*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
.vscode/settings.json


misc/

### Email Generator
lib/newsletter-generator/react-email-generator/.react-email/.vscode
lib/newsletter-generator/react-email-generator/.react-email/.next